@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


*{
  font-family: "Outfit", sans-serif;
}


/* hide the scrollbar in the entire app */
::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-primary: #00deb6;
}

